$flag: 71;

%bt {
    border: 2px solid red;
}

%bgt {
    background-color: blue;
}

main {
    width: 100%;
    height: auto;

    @if($flag==1) {
        @extend %bt
    }

    ;

    @if($flag==1) {
        @extend %bgt
    }

    ;


    >.row {
        height: 100%;

        >* {
            @if($flag==1) {
                @extend %bt
            }

            ;
        }

        >aside {
            width: 20%;
            height: 100vh;
            background-color: rgba(36, 41, 45, 1);
            position: sticky;
            top: 0;

            >.row {
                height: 100%;

                >figure {
                    height: 45%;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid rgba(128, 128, 128, 0.172);

                    >img {
                        width: 84px;
                        height: 145px;

                    }
                }

                >nav {
                    width: 100%;
                    height: 50%;

                    // background-color: #002e4d;
                    >.row {
                        >ul {
                            width: 100%;

                            >li {
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                justify-content: center;
                                border-bottom: 1px solid rgba(128, 128, 128, 0.172);

                                >a {
                                    font-size: 16px;
                                    padding: 13px 15px;
                                    text-align: center;
                                    text-transform: uppercase;
                                    color: white;
                                    transition: 1s;

                                    &:hover {
                                        color: #ae895d;
                                    }
                                }

                                &:first-of-type {
                                    >a {
                                        color: #ae895d;
                                    }
                                }
                            }
                        }
                    }

                }

                >div {
                    height: 5%;
                    width: 100%;
                }
            }


        }

        >section {
            width: 80%;

            >.row {
                >* {
                    @if($flag==1) {
                        @extend %bt
                    }
                }

                >div {
                    width: 100%;
                    height: auto;

                    @if($flag==1) {
                        @extend %bt
                    }

                    &:nth-of-type(1) {
                        width: 100%;
                        height: 100vh;
                        background-image: url(../img/cafe-hero-home.jpg);
                        background-size: 110% auto;
                        background-position: 20% 27%;
                    }

                    &:nth-of-type(2) {
                        >.row {
                            >div {
                                width: 100%;
                                min-height: 100vh;

                                &:nth-of-type(1) {
                                    width: 65%;

                                    @if($flag==1) {
                                        @extend %bt
                                    }

                                    ;
                                    padding: 60px;
                                    background-color: rgb(49, 53, 57, 1);

                                    >* {
                                        padding: 20px 0;
                                    }

                                    >h2 {
                                        font-weight: 100;
                                        width: 100%;
                                        font-size: 50px;
                                        color: white;
                                        font-style: normal;

                                    }

                                    >h3 {
                                        width: 100%;
                                        font-size: 18px;
                                        color: #ae895d;
                                    }

                                    >span {
                                        position: absolute;
                                        width: 135px;
                                        height: 1px;
                                        border-bottom: 1px solid #ae895d;
                                        margin: 10px 0;
                                    }

                                    >div {
                                        width: 100%;

                                        >figure {
                                            width: 230px;
                                            height: 185%;
                                            display: flex;
                                            flex-wrap: nowrap;

                                            >img {
                                                width: 100%;
                                                margin-right: 35px;
                                            }
                                        }
                                    }

                                    >p {
                                        color: #bfbfbf;
                                        margin-bottom: 20px;
                                        font-size: 12px;
                                        font-family: "Vollkorn", serif;
                                        font-style: normal;
                                    }

                                    >a {
                                        padding: 17px 40px;
                                        color: white;
                                        font-size: 16px;
                                        border: 1px solid white;
                                        text-transform: uppercase;

                                        &:hover {
                                            background-color: rgba(66, 78, 78, 0.292);
                                        }
                                    }
                                }

                                &:nth-of-type(2) {
                                    width: 35%;
                                    background-image: url(../img/about-background2.jpg);
                                    background-size: 150% auto;
                                    background-position: left left;

                                    @if($flag==1) {
                                        @extend %bt
                                    }

                                    ;
                                }
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        width: 100%;
                        height: 100vh;

                        >.row {
                            height: 100%;

                            >div {
                                background-image: url(../img/parallax-image.jpg);
                                background-size: cover;
                                background-position: center center;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;

                                >.row {
                                    >div {
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: center;
                                        align-items: center;
                                        margin: 100px auto;

                                        >* {
                                            color: white;
                                            text-align: center;
                                        }

                                        >h2 {
                                            padding: 15px 0;
                                            font-size: 30px;
                                            border-bottom: 1px solid #ae895d;
                                        }

                                        >p {
                                            width: 100%;
                                            padding: 0 130px;
                                            font-family: "Vollkorn", serif;
                                            font-size: 22px;

                                        }

                                        >a {
                                            padding: 17px 40px;
                                            font-size: 18px;
                                            border: 1px solid white;

                                            &:hover {
                                                background-color: rgba(66, 78, 78, 0.292);
                                            }

                                        }
                                    }
                                }

                            }

                        }
                    }

                    &:nth-of-type(4) {
                        width: 100%;
                        height: auto;

                        >.row {
                            width: 100%;

                            >div {
                                width: 100%;
                                height: 426px;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: flex-start;
                                align-items: center;
                                padding: 0 30px;

                                &:nth-of-type(1),
                                &:nth-of-type(2) {
                                    width: 50%;
                                    background-color: rgba(36, 43, 45, 1);

                                    >h2 {
                                        width: 100%;
                                        color: white;
                                        font-size: 36px;
                                    }

                                    >h3 {
                                        padding: 20px 0;
                                        font-size: 18px;
                                        color: #ae895d;
                                        border-bottom: 1px solid #ae895d;

                                    }

                                    >a {
                                        font-size: 16px;
                                        text-transform: uppercase;
                                        color: white;
                                        padding: 17px 40px;
                                        border: 1px solid white;

                                        &:hover {
                                            background-color: rgba(66, 78, 78, 0.292);
                                        }
                                    }
                                }

                                &:nth-of-type(2) {
                                    background-color: rgb(49, 53, 57, 1);
                                }
                            }
                        }
                    }

                    &:nth-of-type(5) {
                        width: 100%;
                        overflow: hidden;

                        >.row {
                            height: 396px;

                            >div {
                                width: 25%;
                                height: 100%;

                                @if($flag==1) {
                                    @extend %bt
                                }

                                ;
                                overflow: hidden;
                                transition: .4s;

                                &:hover>figure>img {
                                    transform: scale(1.1);

                                }

                                >figure {
                                    width: 100%;
                                    height: 100%;
                                    position: relative;
                                    transition: 1s;

                                    &:hover {
                                        &::after {
                                            content: '';
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            top: 0;
                                            left: 0;
                                            background-color: #ae895d80;

                                        }
                                    }

                                    >img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }

                                }
                            }
                        }
                    }

                    &:nth-of-type(6) {
                        >.row {
                            >div {
                                width: 25%;
                                height: 80px;

                                @if($flag==1) {
                                    @extend %bt
                                }

                                ;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: center;
                                background-color: rgba(36, 43, 45, 1);
                                font-size: 28px;
                                color: white;

                                &:hover {
                                    color: #ae895d;
                                }


                            }
                        }
                    }

                    &:nth-of-type(7) {
                        padding: 20px 60px;
                        background-color: rgb(49, 53, 57, 1);

                        >.row {
                            >figure {
                                width: 100%;
                                height: 160px;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: center;
                                border-bottom: #bfbfbf;

                                >img {
                                    width: 28%;
                                }
                            }

                            >div {
                                width: 100%;
                                height: 280px;
                                overflow-y: hidden;

                                @if($flag==1) {
                                    @extend %bt
                                }

                                ;
                                background-color: rgb(49, 53, 57, 1);
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: center;

                                &:nth-of-type(1) {
                                    border-bottom: 1px solid rgba(128, 128, 128, 0.172);
                                    border-top: 1px solid rgba(128, 128, 128, 0.172);
                                    background-color: rgb(49, 53, 57, 1);

                                    >.row {
                                        >div {
                                            width: 15%;
                                            display: flex;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            align-items: center;
                                            padding: 60px 0;
                                            margin-left: 100px;

                                            @if($flag==1) {
                                                @extend %bt
                                            }

                                            ;

                                            >a {
                                                font-size: 18px;
                                                padding: 30px;
                                                color: white;

                                                &:hover {
                                                    color: #ae895d;
                                                }
                                            }
                                        }
                                    }
                                }

                                // =======mona aminian footer....
                                &:nth-of-type(2) {
                                    position: relative;

                                    >.card {
                                        width: 100%;
                                        height: 250px;
                                        border-radius: 15px;
                                        background-color: #000000;
                                        position: absolute;
                                        top: -90%;
                                        left: 50%;
                                        transform: translate(-50%, 108%);
                                        display: flex;
                                        flex-wrap: wrap;
                                        box-shadow: 8px 8px 10px 10px rgb(32, 31, 31);
                                        padding: 15px;

                                        >div {
                                            width: 40%;
                                            height: 100%;
                                            display: flex;
                                            flex-wrap: wrap;

                                            >.c1 {
                                                width: 70%;
                                                height: 100%;

                                                >img {
                                                    border-radius: 50% 50% 80% 20% / 26% 54% 46% 74%;
                                                    width: 60%;
                                                    height: 73%;
                                                    background-size: cover;
                                                    background-position: left;
                                                    

                                                }

                                                >div>svg {
                                                    width: 100%;
                                                    height: 20%;
                                                    padding-top: 18px;
                                                    font-family: 'Times New Roman', Times, serif;
                                                    font-size: 28px;
                                                    font-weight: 800;
                                                    text-transform: capitalize;
                                                    color: transparent;
                                                    stroke: rgb(36, 35, 35);
                                                    stroke-width: 1px;
                                                    animation: txt infinite linear 3s alternate;
                                                }
                                            }

                                            >.c2 {
                                                width: 30%;
                                                height: 100%;
                                                display: flex;
                                                flex-wrap: wrap;

                                                >span {
                                                    width: 100%;
                                                    height: 25%;

                                                    >a {
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        width: 100%;
                                                        height: 100%;
                                                        text-decoration: none;
                                                        color: rgba(255, 255, 255, 0.591);
                                                        font-size: 30px;

                                                    }
                                                }
                                            }
                                        }

                                        .id {
                                            width: 40%;

                                            >span {
                                                width: 100%;
                                                height: 25%;
                                                display: flex;
                                                font-family: 'Times New Roman', Times, serif;
                                                font-size: 24px;
                                                display: flex;
                                                color: rgba(255, 255, 255, 0.591);
                                                justify-content: flex-start;
                                                font-weight: bold;
                                                align-items: center;
                                            }
                                        }

                                        >.bg {
                                            width: 400px;
                                            height: 200px;
                                            position: absolute;
                                            display: flex;
                                            top: -100px;
                                            left: 199px;
                                            transform: translate(-50%, 50%);
                                            border-radius: 25px;
                                            background-color: transparent;
                                            z-index: -2;
                                            filter: blur(4);

                                            >div {
                                                width: 100px;
                                                height: 300px;
                                                position: absolute;
                                                z-index: -3;

                                                &:nth-of-type(1) {
                                                    position: absolute;
                                                    width: 100px;
                                                    height: 80px;
                                                    border-radius: 63% 37% 87% 13% / 38% 52% 48% 62%;
                                                    top: 35px;
                                                    left: 100px;
                                                    background-color: rgba(211, 209, 78, 0.505);
                                                    box-shadow: 0 0 250px 30px rgb(211, 209, 78);
                                                    animation: para1 5s infinite alternate linear;
                                                }

                                                &:nth-of-type(2) {
                                                    width: 190px;
                                                    height: 100px;
                                                    border-radius: 35% 65% 48% 52% / 38% 15% 85% 62%;
                                                    top: 100px;
                                                    left: 50px;
                                                    background-color: rgb(124, 17, 105);
                                                    box-shadow: 0 0 250px 80px rgb(129, 17, 105);
                                                    animation: para2 5s infinite alternate linear;
                                                }

                                                &:nth-of-type(3) {
                                                    width: 180px;
                                                    height: 120px;
                                                    border-radius: 35% 65% 48% 52% / 38% 15% 85% 62%;
                                                    top: 30px;
                                                    left: 200px;
                                                    background-color: rgba(35, 35, 183, 0.484);
                                                    box-shadow: 0 0 250px 50px rgb(59, 59, 224);
                                                    animation: para3 5s infinite alternate linear;
                                                }
                                            }
                                        }

                                    }
                                }

                                .material-symbols-outlined {

                                    font-size: 35px;
                                    color: #ae895d;

                                    &:hover {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .monaID {
        width: 130px;
        height: 130px;
        position: absolute;
        bottom: 30px;
        right: 40px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
          width: 100%;
          height: 100%;
          background-color:rgba(23, 24, 24, 0.584);
          border-radius: 33% 67% 32% 68% / 32% 28% 72% 68%;
          display: flex;
          justify-content: center;
          align-items: center;
          animation: social 10s ease-in-out infinite alternate;
          > figure {
            width: 96%;
            height: 96%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            > img {
              animation: social2 10s infinite  ease-in-out alternate;
              width: 100%;
              height: 100%;
              z-index: 2;
            }
            > figcaption {
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              > a {
                text-decoration: none;
                color: rgb(220, 210, 210);
                font-size: 18px;
                width: 60px;
                height: 30px;
                transform: translateX(0) translateY(0);
                transition: all 0.5s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                &:nth-of-type(1) {
                  transition-delay: 0;
                }
                &:nth-of-type(2) {
                  transition-delay: 0.2s;
                }
                &:nth-of-type(3) {
                  transition-delay: 0.4s;
                }
                &:nth-of-type(4) {
                  transition-delay: 0.6s;
                }
              }
            }
            &:hover {
              > figcaption {
                > a {
                  transform: translateX(-100px) translateY(0);
                  color: rgb(226, 218, 218);
                }
              }
            }
          }
        }
      }

}

@keyframes txt {
    0% {
        stroke-dasharray: 0px 200px;
        fill: rgba(226, 234, 5, 0.508);
    }

    50% {
        stroke-dasharray: 200px 0px;
        fill: rgba(236, 107, 38, 0.708);
    }

    100% {
        stroke-dasharray: 300px 0px;
        fill: rgb(49, 48, 48);
    }
}

@keyframes para1 {
    30% {
        top: 70px;
        left: 50px;
    }

    60% {
        top: 20px;
        left: 90px;
    }

    100% {
        top: 50px;
        left: 20px;
    }

}

@keyframes para2 {
    30% {
        top: 90px;
        left: 120px;
    }

    60% {
        top: 50px;
        left: 220px;
    }

    100% {
        top: 80px;
        left: 100px;
    }

}

@keyframes para3 {
    30% {
        top: 70px;
        left: 220px;
    }

    60% {
        top: 10px;
        left: 140px;
    }

    100% {
        top: 100px;
        left: 190px;
    }

}

// -----icon id-----
@keyframes social {
    0% {
        border-radius: 51% 49% 37% 63% / 63% 60% 40% 37%;
    }

    25% {
        border-radius: 68% 32% 59% 41% / 63% 60% 40% 37%;
    }

    50% {
        border-radius: 49% 51% 69% 31% / 40% 50% 50% 60%;
    }

    75% {
        border-radius: 58% 42% 47% 53% / 66% 56% 44% 34%;
    }

    100% {
        border-radius: 40% 60% 62% 38% / 56% 40% 60% 44%;
    }
}

@keyframes social2 {
    0% {
        border-radius: 52% 48% 41% 59% / 35% 40% 60% 65%;
    }

    25% {
        border-radius: 68% 32% 52% 48% / 55% 48% 52% 45%;
    }

    50% {
        border-radius: 58% 42% 37% 63% / 40% 65% 35% 60%;
    }

    75% {
        border-radius: 45% 55% 55% 45% / 58% 48% 52% 42%;
    }

    100% {
        border-radius: 68% 32% 59% 41% / 63% 60% 40% 37%;
    }
}